* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: #201e1e;
}


@font-face {
    font-family: 'playfull-italic';
    src: url("http://localhost/ensaiei-main/design/assets/PlayfairDisplay-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: 'playfull';
    src: url("http://localhost/ensaiei-main/design/assets/PlayfairDisplay-SemiBold.ttf");
}

@font-face {
    font-family: 'jakarta';
    src: url("http://localhost/ensaiei-main/design/assets/PlusJakartaSans-Regular.ttf");
}

@font-face {
    font-family: 'jakarta-bold';
    src: url("http://localhost/ensaiei-main/design/assets/PlusJakartaSans-SemiBold.ttf");
}

body {
    font-family: 'jakarta', sans-serif;
    background-color: #221e22;
    overflow-x: hidden;
}

header img {
    height: 30px;
}

.topnav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #0e0e0e;
    border-bottom: 1px solid #3b3b3b;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.topnav-left .logo {
    width: 150px;
    display: flex;
    align-items: center;
}

.topnav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.topnav-right nav a {
    text-decoration: none;
    font-size: 20px;
    color: #ededed;
    font-family: 'jakarta', sans-serif;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.topnav-right nav a:hover {
    color: #e91e63;
}

.container {
    max-width: 700px;
    margin: 40px auto;
    background: #101010;
    padding: 40px;
    border-radius: 8px;
}